<footer id="mobile-footer">
  <div id="lang">
    {%- assign alt_pages = include.lang_pages | where: "ref", page.ref | sort: 'lang' -%}
    {%- for alt in alt_pages -%}
      &nbsp;<a href="{{ alt.url }}">{{ alt.flag }}</a>&nbsp;
    {%- endfor -%}
  </div>
  <div id="license">
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.{{ page.lang | default: 'fr' }}" target="_blank" rel="license noopener">
        <i class="fa-brands fa-creative-commons"></i>
        <i class="fa-brands fa-creative-commons-by"></i>
        <i class="fa-brands fa-creative-commons-nc-eu"></i>
        <i class="fa-brands fa-creative-commons-sa"></i>
        <span>CC BY-NC-SA 4.0</span>
      </a>
  </div>
  <div id="org-link">
    <a href="https://christophe.heubes.org" target="_blank" rel="noopener noreferrer" aria-label="christophe.heubes.org"><img src="/assets/img/org.jpg" class="rounded-circle sidebar-org-img" alt="heubes.org"/></a>
  </div>
</footer>
