  <footer class="navbar navbar-light bg-light fixed-bottom ms-3 me-3">
    <div id="social-media">
      <a href="https://christophe.heubes.org" target="_blank" rel="noopener noreferrer" aria-label="christophe.heubes.org"><img src="/assets/img/org.jpg" class="rounded-circle" alt="christophe.heubes.org" /></a>
      <a href="https://www.linkedin.com/in/heubes/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn"><i class="fab fa-linkedin-in ms-3" aria-hidden="true"></i></a>
      <a href="https://github.com/cheubes/" target="_blank" rel="noopener noreferrer" aria-label="GitHub"><i class="fab fa-github ms-3" aria-hidden="true"></i></a>
    </div>
    <div id="license">
      <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.{{ page.lang }}" target="_blank">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
      </a>
    </div>
    <div id="lang">
      {%- assign pages=site.pages | where:"ref", page.ref | sort: 'lang' -%}
      {%- for page in pages -%}
          &nbsp;<a href="{{ page.url }}">{{ page.flag }}</a>&nbsp;
      {%- endfor -%}
    </div>
  </footer>
