/*
 * Orange : #FF6633 #EE5522
 * Blue : #00B8FF
 * Green : #94BD5E
 * Grey : #333333
 */

@import url(http://fonts.googleapis.com/css?family=Nova+Mono);

.navbar .brand {
	font-family: 'Nova Mono', cursive;
	color: #FF6633;
	font-size: 25px;
}

.navbar .nav > li > a {
	font-family: 'Nova Mono', cursive;
	color: #94BD5E;
	line-height: 25px;
}

h1 {
	font-family: 'Nova Mono', cursive;
	font-size: 25px;
	line-height: 36px;
}

h1 a {
	color: #94BD5E;
}

h1 a:hover {
	color: #94BD5E;
}

h1 a:visited {
	color: #94BD5E;
}


