html, body{
  height: 100%;
  font-family: Ubuntu, sans-serif;
  text-align: justify;
}
body {
  background-color: #FFF;
}

div, body{
  margin: 0;
  padding: 0;
}

main {
  padding-top: 100px;
  padding-bottom: 100px;
}

h1 {
  font-weight: bolder;
}

strong {
  font-weight: bold;
  color: black;
}

a {
  color: black;
}

a:hover {
  color: dimgrey;
  text-decoration: none;
}

#vcard {
  background-image: url(/assets/img/bg.jpg) ;
  background-position: center center;
  background-repeat:  no-repeat;
  /* background-attachment: fixed; */
  background-size:  cover;
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: 2px 2px 4px dimgrey;
  box-shadow: 0px 3px 4px black;
}

#profile-picture {
  height: 150px;
  width: 150px;
  box-shadow: 2px 2px 4px black;
}

#about .row {
  margin-bottom: 30px;
  /* border-top: 1px solid black; */
}

.icon {
  font-size: 32px;
  text-align: center;
}

#resume .row {
  margin-bottom: 30px;
}

.resume-logo {
  height: 48px;
}
