<!doctype html>
<html lang="{{ page.lang }}">

{% include head.html %}

<body>

  <div id="vcard" class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-4 text-center"><img id="profile-picture" class="rounded-circle" src="/assets/img/photo.jpg" alt="Christophe Heubès"/></div>
      <div class="col-md-2 text-center py-3">&nbsp;</div>
      <div class="col-md-2 text-center py-3">&nbsp;</div>
      <div class="col-md-2 text-center py-3"><a href="http://fr.linkedin.com/in/heubes/" target="_blank"><i class="fab fa-linkedin-in fa-5x"></i></a></div>
      <div class="col-md-2 text-center py-3"><a href="https://github.com/cheubes/" target="_blank"><i class="fab fa-github fa-5x"></i></a></div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div id="about" class="col-md-6 px-5 py-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div id="resume" class="col-md-6 px-5 py-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>

{% include footer.html %}

</body>

</html>
