<!doctype html>
<html lang="{{ page.lang | default: 'fr' }}">

{% include head.html %}

<body>

  <div class="page-wrapper">

    {% include sidebar.html lang_pages=site.pages %}

    <div class="content-wrapper">
      <main>
        <section id="about">
          <h2>{{ page.section-about }}</h2>
          <div class="row">
            <div class="col-2 icon"><i class="fa-solid fa-user-tie" aria-hidden="true"></i></div>
            <div class="col-10">{{ page.about-intro }}</div>
          </div>
          <div class="row">
            <div class="col-2 icon"><i class="fa-solid fa-screwdriver-wrench" aria-hidden="true"></i></div>
            <div class="col-10">{{ page.about-skills }}</div>
          </div>
          <div class="row">
            <div class="col-2 icon"><i class="fa-solid fa-rocket" aria-hidden="true"></i></div>
            <div class="col-10">{{ page.about-xebia }}</div>
          </div>
          <div class="row">
            <div class="col-2 icon"><i class="fa-solid fa-seedling" aria-hidden="true"></i></div>
            <div class="col-10">{{ page.about-invest }}</div>
          </div>
        </section>
        <section id="resume">
          <h2>{{ page.section-resume }}</h2>
          <div class="row">
            <div class="col-2"><img class="resume-logo" src="/assets/img/flint.png" alt="Flint"/></div>
            <div class="col-10">{{ page.resume-flint }}</div>
          </div>
          <div class="row">
            <div class="col-2"><img class="resume-logo" src="/assets/img/xebia.png" alt="Xebia"/></div>
            <div class="col-10">{{ page.resume-xebia-coo }}</div>
          </div>
          <div class="row">
            <div class="col-2"><img class="resume-logo" src="/assets/img/xebia.png" alt="Xebia"/></div>
            <div class="col-10">{{ page.resume-xebia }}</div>
          </div>
          <div class="row">
            <div class="col-2"><img class="resume-logo" src="/assets/img/dreamsoft.png" alt="Dreamsoft"/></div>
            <div class="col-10">{{ page.resume-dreamsoft }}</div>
          </div>
          <div class="row">
            <div class="col-2"><img class="resume-logo" src="/assets/img/epita.png" alt="EPITA"/></div>
            <div class="col-10">{{ page.resume-epita }}</div>
          </div>
        </section>
      </main>
    </div>

  </div>

  {% include footer.html lang_pages=site.pages %}

{% include scripts.html %}
</body>

</html>
