<!doctype html>
<html lang="{{ page.lang }}">

{% include head.html %}

<body>

  <div id="vcard" class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-4 text-center"><img id="profile-picture" class="rounded-circle" src="/assets/img/photo.jpg" alt="Christophe Heubès"/></div>
      <div class="col-md-2 text-center py-3">&nbsp;</div>
      <div class="col-md-2 text-center py-3">&nbsp;</div>
      <div class="col-md-2 text-center py-3"><a href="https://www.linkedin.com/in/heubes/" target="_blank"><i class="fab fa-linkedin-in fa-5x"></i></a></div>
      <div class="col-md-2 text-center py-3"><a href="https://github.com/cheubes/" target="_blank"><i class="fab fa-github fa-5x"></i></a></div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div id="about" class="col-md-6 px-5 py-5">
        <div class="row">
          <div class="col-md-2 icon">🧑‍🎓</div>
          <div class="col-md-10">{{ page.about-epita }}</div>
        </div>
        <div class="row">
          <div class="col-md-2 icon">🚀</div>
          <div class="col-md-10">{{ page.about-xebia }}</div>
        </div>
        <div class="row">
          <div class="col-md-2 icon">🌱</div>
          <div class="col-md-10">{{ page.about-invest }}</div>
        </div>
      </div>
      <div id="resume" class="col-md-6 px-5 py-5">
        <div class="row">
          <div class="col-md-2"><img class="resume-logo" src="/assets/img/xebia.png" alt="Xebia"/></div>
          <div class="col-md-10">{{ page.resume-xebia-coo }}</div>
        </div>
        <div class="row">
          <div class="col-md-2"><img class="resume-logo" src="/assets/img/xebia.png" alt="Xebia"/></div>
          <div class="col-md-10">{{ page.resume-xebia }}</div>
        </div>
        <div class="row">
          <div class="col-md-2"><img class="resume-logo" src="/assets/img/dreamsoft.png" alt="Dreamsoft"/></div>
          <div class="col-md-10">{{ page.resume-dreamsoft }}</div>
        </div>
        <div class="row">
          <div class="col-md-2"><img class="resume-logo" src="/assets/img/epita.png" alt="EPITA"/></div>
          <div class="col-md-10">{{ page.resume-epita }}</div>
        </div>
      </div>
    </div>
  </div>

{% include footer.html %}

</body>

{% include scripts.html %}

</html>
